doctype html

head 
   title=title
   link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
   link(rel='stylesheet', href ='css/styles.css')
   script(src='https://code.jquery.com/jquery-2.2.4.min.js')
   script(src='/javascript/readfile.js')
   
   body
    block content